@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.sass";
